* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    /* font-size: 1.6rem; --> hoe stel ik dit goed in? */
}

body {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}

h1 {

}

h2 {}

h3 {}

h4 {}

p {
}

a {}

/* CUSTOM PROPERTIES */
:root {
    --color-light-light-blue:rgb(187, 224, 255);
    --color-light-blue:rgba(127, 180, 224, 1);
    --color-light-green:rgba(155, 211, 146, 1);
    --color-logo-blue:rgba(33, 109, 172, 1);     
    --color-logo-green:rgba(76, 145, 65, 1);
    --color-sand:rgba(188, 188, 188, 0.5);

    --buton-bg: var(--color-light-light-blue);
    --button-bg-hover: var(--color-light-blue);
    --button-bg-click: var(--color-logo-blue);

    --bg-color-block-even: var(--color-light-blue);
    --bg-color-section-uneven:var(--color-sand);

    --box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --border-radius:5px;

    --padding:;
    --margin:;
    
}

/* HEADER STYLING */

header {
position: fixed;
z-index: 10;
width: 100%;
background-color: white;
display:flex;
flex-direction: row;
}

header nav {
    padding: 1rem 2vw;

}

header nav ul {
    list-style: none;
    /* display: flex; 
	gap: 1rem;
	padding: 0;  */
}

/* STYLING SECTION: BANNER  */

#banner {
    width:100%;
}

#banner img {
    width:100%;
    position: absolute;
    
}

#banner div {
    background: var(--color-light-green);
    padding: 2rem 2rem 2rem 2rem;   
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    border-radius: var(--border-radius); 
    position: relative;
}


button {
    background-color: var(--color-light-light-blue);
    padding: 0.5em 1em 0.5em 1em;
    border-radius: var(--border-radius);
    font-size:0.8em;
    box-shadow: var(--box-shadow);
}

:hover {

}

.section-uneven {
    background-color: var(--color-sand);
    box-shadow: var(--box-shadow);
}


section {
    margin-top:25rem;
}








/* FOOTER STYLING */

footer {
    background:rgb(187, 224, 255);
    font-style:italic;
    padding: 2rem 4rem; 
}

  
  


/*  MEDIA QUERIES */

@media screen and (min-width: 40rem) {
    .body {
        background: pink;
    }  
}
