* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    /* font-size: 100%; */
}


/* CUSTOM PROPERTIES */
:root {
    --color-light-light-blue: rgb(187, 224, 255);
    --color-light-blue: rgba(127, 180, 224, 1);
    --color-light-green: rgba(155, 211, 146, 1);
    --color-logo-blue: rgba(33, 109, 172, 1);
    --color-logo-green: rgba(76, 145, 65, 1);
    --color-sand: rgba(245, 245, 245, 1);

    --buton-bg: var(--color-light-light-blue);
    --button-bg-hover: var(--color-light-blue);
    --button-bg-click: var(--color-logo-blue);

    --bg-color-block-even: var(--color-light-blue);
    --bg-color-section-uneven: var(--color-sand);

    --box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --border-radius: 5px;


    --component-margin: 0 1rem 2rem 1rem;
    --component-padding: 0 1rem 2rem 1rem;
    --component-spacing: 0 1rem 1rem 1rem;
}

/* ------------------------------ */

body {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    line-height: 1.5;
}

main {
    margin: 0 0.5rem 0.5rem 1rem;

}

h1 {}

h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em 1em 1em 1em;
}

h3 {
    padding: 1em 1em 1em 1em;
}

h4 {
    
}

p {
    padding: 1em 1em 1em 1em;
}

a {
    color: var(--color-logo-blue);
}


/* HEADER STYLING */

header {
    z-index: 20;
    width: 100%;
    height: 7rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 0;
}

header button {
    border: none;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

nav {
    position: absolute;
    top: 7rem;
    right: 0;
    z-index: 10;
    padding: 1rem 2vw;
    background-color: rgb(181, 181, 162);
    /* transform: translateY(-100%); */
    transition: all 0.25s;
}

nav.open {
    transform: translateY(0);
}

nav ul {
    list-style: none;
    /* display: flex; 
	gap: 1rem;
	padding: 0;  */
}

/* SECTION STYLING */
section button {
    background-color: var(--color-light-light-blue);
    padding: 0.5em 1em 0.5em 1em;
    border-radius: var(--border-radius);
    font-size: 0.8em;
    box-shadow: var(--box-shadow);
}

:hover {}

.section-uneven {
    background-color: var(--color-sand);
    box-shadow: var(--box-shadow);
}

/* STYLING SECTION: BANNER  */

#banner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#banner img {
    width: 100%;
    position: absolute;
    z-index: 10;
}

#banner div {
    color: rgba(245, 245, 245, 1);
    background: rgba(0, 0, 0, 0.4);
    padding: 1rem 1rem 1rem 1rem;
    z-index: 20;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    border-radius: var(--border-radius);
    width: 75%;
    position: relative;
}

/* STYLING SECTION: HOW IT WORKS */

#how-it-works{
    margin: 5rem 0 0 0;
}

/* STYLING SECTION: SERVICES */

#services div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    margin: 0 5rem 0 4rem;
}

#services img {
    border-radius: 50%;
}

#services div h3 {
    margin: 1rem 0;
}


/* STYLING SECTION: PRODUCTS */
/* STYLING SECTION: OUR TEAM */

/* FOOTER STYLING */

footer {
    background: rgb(187, 224, 255);
    font-style: italic;
}

/* STYLING FOOTER SECTION: CONTACT */


/*  MEDIA QUERIES */

/* @media screen and (min-width: 500px) {
    .body {
        background: pink;
    }
} */